/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);
html {
  font-family: 'Roboto', 'Noto Sans TC', sans-serif;
}

.rune-icon {
  width: 100px;
  height: 100px;
}

.mastery-background {
  position: relative;
  background-image: url(../img/mastery/mastery_background.png);
  width: 985px;
  height: 508px;
}

.mastery-icon {
  position: absolute;
  cursor: pointer;
}

.mastery-list-icon {
  margin: auto;
}

.mastery-icon-rect {
  background: url(../img/mastery/mastery_icon0.png);
  width: 42px;
  height: 42px;
}

.mastery-icon-circ {
  background: url(../img/mastery/mastery_icon1.png);
  width: 48px;
  height: 48px;
  border-radius: 24px;
}

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}