/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
@import url(http://fonts.googleapis.com/earlyaccess/notosanstc.css);

  html {
      font-family: 'Roboto', 'Noto Sans TC', sans-serif;
  }

nav ul a,
nav .brand-logo {
  color: #fff;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.button-collapse {
  color: #fff;
}


.header h1 {
  font-size: 3rem;
  line-height: 300px;
  color: #b6f3ed;
}

nav .brand-logo img{
  padding-top: 5px;
  width: 150px;
  height: 60px;
}

.brand-logo{
  font-family: 'Carrois Gothic SC', sans-serif;
    font-weight: bold;
}

.icon-block .light,.game .light, footer li{
  font-size: 17px;
}

.parallax-container h5 {
  font-weight: normal;
  font-size: 32px;
}

.cyan-green {
    background-color: #009688 !important;
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

.side-nav {
  background-color: #26a69a;
}

.side-nav li a {
  color: #fff;
  font-weight: normal;
}

footer.page-footer {
  margin: 0;
}
